<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="html_head" id="html_head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Movie Recommendation System</title>
	<link rel="stylesheet" media="all" th:href="@{/bootstrap/css/bootstrap.min.css}"
		href="/bootstrap/css/bootstrap.min.css" type="text/css" />
	
</head>

<body>
	<div th:fragment="menu" id="menu">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
				style="background-color: #14181C !important;">
				<div class="container-fluid">
					<a class="navbar-brand text-warning">Movie Recommendation App</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
						data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation" style="background-color: #b5b5b5 !important;">
						<span class="navbar-toggler-icon"></span>
					</button>

					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">

							<li class="nav-item">
								<div th:if="${not session.isEmpty()}">
									<a class="nav-link text-light fw-bold fst-italic"
										th:utext="'Hello ' + ${session.usession.user.userName}"></a>
								</div>
							</li>

							<li class="nav-item">
								<a class="nav-link text-light">Home</a>
							</li>

							<div th:if="${session.usession?.user}">
								<div th:each="role : ${session.usession.user.roleSet}">
									<div th:if="${role.roleName == 'Admin'}">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown"
												role="button" data-bs-toggle="dropdown" aria-expanded="false">
												Admin
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
												<li><a class="dropdown-item" th:href="@{/admin/userList}">Manage
														Users</a></li>
												<li><a class="dropdown-item" th:href="@{/admin/movieList}">Manage Movies</a>
												</li>
												<li><a class="dropdown-item" th:href="@{/admin/categoryForm}">Manage
														Category</a></li>

											</ul>
										</li>
									</div>
								</div>
							</div>
							
							<div th:if="${session.usession?.user}">
								<div th:each="role : ${session.usession.user.roleSet}">
									<div th:if="${role.roleName == 'User'}">
										<li class="nav-item dropdown">
											<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown"
												role="button" data-bs-toggle="dropdown" aria-expanded="false">
												User
											</a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
												<li><a class="dropdown-item" th:href="@{/user/manageAccount}">Manage
														Account</a></li>
												<li><a class="dropdown-item" th:href="@{/user/reviewHistory}">Manage My Review History</a>
												</li>

											</ul>
										</li>
									</div>
								</div>
							</div>
							

							<li class="nav-item">
								<a class="nav-link text-light">About Us</a>
							</li>

							<li class="nav-item ms-sm-auto">
								<div th:if="${not session.isEmpty()}">
									<a class="nav-link text-warning fw-bold" th:href="@{/logout}">Logout</a>
								</div>
								<div th:if="${session.isEmpty()}">
									<a class="nav-link text-warning fw-bold" th:href="@{/login}">Login</a>
								</div>
							</li>

							<li class="nav-item">
								<div th:if="${session.isEmpty()}">
									<a class="nav-link text-warning fw-bold" th:href="@{/createAccountForm}">Sign Up</a>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</header>
	</div>


	<div th:fragment="footer" id="footer">
		<footer class="border-top footer text-muted mt-5">
			<div class="container-footer">
				<div class="text-center">
					&copy; 2023 - Movie Recommendation System - Team 1
				</div>
			</div>
		</footer>
		<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	</div>
	<div th:replace="fragments/layout.html :: footer" />
</body>

</html>